body {
  font-family: 'Staatliches', cursive;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.device {display:none;}
.desktop {display:display;}


canvas {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 100vh;
}

@media (max-width : 500px) {
  .device {display:block;}
  .desktop {display:none;}
}

.title {
  text-align: center;
}