.device {display:none;}
.desktop {display:display;}


canvas {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 100vh;
}

@media (max-width : 500px) {
  .device {display:block;}
  .desktop {display:none;}
}

body {
  font-family: 'Staatliches', cursive;
}

.title {
  text-align: center;
}