body {
  font-family: 'Staatliches', cursive;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas{
  max-width: 95vw;
  max-height: 95vh;
}

.device {display:none;}
.desktop {display:display;}

@media (max-width : 500px) {
  .device {display:block;}
  .desktop {display:none;}
}

.title {
  text-align: center;
  font-size: x-large;
}
